.header{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 110px;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.menu a{
    color: #FFFFFF !important;
    padding: 0 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}